body {
    background: rgb(255, 50, 60);
    font: normal 15pt Roboto;
    
}

header {
    color: azure;
    text-align: center;
}

section {
    background: azure;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 3px 3px 7px rgba(65, 65, 65, 0.479);
}

div {
    text-align: center;
    padding: 10px;
}

#footmsg {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: rgb(155, 155, 155);
}

footer {
    font-style: italic;
    color: azure;
    text-align: center;
}